.DropDownCat {
	font-style: italic;
	font-weight: bold;
 
}

.style1 {
 font-size: 9px; 
 line-height: normal; 
 color: #000000;
 font-weight:700; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
}

.dots {
	color: gray;
}

.dashedline {
	border-left:1px dashed #878787;
}

.menu{
	border-top:3px solid #1A6ABB;
	border-bottom:1px solid #B31B1B;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.navlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration:underline;
}

.navlink:hover {
	text-decoration:none;
}

body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 16px;
	color: #333333;
	margin-top: 0px;
}

.txtWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	background-repeat: no-repeat;
}
.txtWhite:hover {
	font-weight: bold;
}
.fontxt {
	background-color: #D5E6F1;
}
.fontbl {
	background-color: #CCCCCC;
}
a {
	color: #000000;
	text-decoration:none;
}

a:hover {
	color: #000000;
	text-decoration:underline;
}

form {
	background-color: #FFFFFF;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: normal;
	color: #333333;
	font-weight: bold;
}

.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
 	color: #003300;
	font-weight: bold;
}

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: #669900;
	color: #FFFF33;
}

.sidebar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	padding: 3px;
	background-color: #FFFFCC;
	color: #003333;
}

.footer {
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	color: #999999;
}

.titlebar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #333333;
	background-color: #F4FAFF;
}

.titlebar1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #333333;
	background-color: #ECF5FF;
}

.specsBorder {
	border-right: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
}

.specsBorder1 {
	border:2px solid #FFFFFF;
}

.blackBorder {
	border-right:1px solid #666666;
	border-left:1px solid #666666;
}

.vertBorders {
	border-right: 1px solid #990000;
	border-bottom: 1px solid #990000;
	border-top: 1px solid #990000;
}

.btns {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; font-weight: bold; color:#333333;
	background-image:url(images/btnbg.gif);
	border-color: #003366;
	border-width: 1px;
}

.success {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006600;
}

.err {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CC0000;
}

.hint {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #999999;
}

.sidetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

.btnMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color:#004080;
	border-color:#B2C5D8;
	background-color: #F5FAFE;
	border-style: solid;
	border-width:1px;
}
.btnMenuHover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color:#004080;
	border-color:#006699;
	background-color: #DCECFC;
	border-style:solid;
	border-width:1px;
	cursor: pointer;
	cursor: hand;
}
.specsBorder2 {
	border-right: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-top: 2px solid #FFFFFF;
}
.headerfon {
	background-color: #D5E6F1;
	font-size: 10pt;
	font-weight: bold;
	color: #505A5A;
}
.textfon {
	background-color: #E9EEF1;
}
.navnext {
	color: #000000;
	font-size:9px;
}
.disabledText {
	color: #CCCCCC;
}
.enabledText {
	color: #333333;
}