*{margin:0;padding:0;}
.default{font-family:"Trebuchet MS";font-size:9px;color:#666;}
.bg-btm{background-image:url(images/Freeweblooks_28.png);background-repeat:repeat-x;background-position:bottom;font-family:"Trebuchet MS";font-weight:400;}
.top-text{font-family:Arial, Helvetica, sans-serif;font-size:9pt;color:#0066CC;font-weight:400;}
h1{font-family:"Trebuchet MS";font-size:14px;font-weight:700;color:#FFC;}
.H1{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:700;color:#999999;}
A:link{font-family:"Trebuchet MS";font-size:12px;font-weight:bold;color:#999999;text-decoration:none;}
A:visited{font-family:"Trebuchet MS";font-size:12px;font-weight:bold;color:#999999;text-decoration:none;}
A:active{font-family:"Trebuchet MS";font-size:12px;font-weight:bold;color:#999999;text-decoration:none;}
A:hover{font-family:"Trebuchet MS";font-size:12px;font-weight:bold;color:#999999;text-decoration:underline;}
.H2{font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:700;color:#996;}
.top-text1{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:700;color:#FFF;}
.style1{color:#FFF;font-family:"Trebuchet MS";text-transform:capitalize;font-size:12px;font-weight:700;padding-left:15px;}
.style2{color:#FFF;background-repeat:no-repeat;background-position:center center;font-family:"Trebuchet MS";font-size:10px;font-weight:700;}
input.text{background:url(none) center center;clear:both;float:none;border:none;color:#390;font-size:9px;width:130px;}
input.text2{background:#FFF url(none) center center;clear:both;float:none;border:1.5px solid #CCC;color:#330;font-size:10px;width:180px;}
.H3{font-family:Arial, Helvetica, sans-serif;font-size:9px;font-weight:400;color:#990000;}
input.button{color:#7D7E7D;border:solid 1px #BBB;background-color:#FFF;width:75px;}
h4{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:700;color:#CC3300;}
.bg-top{background-image:url(images/n2_05-bg.png);background-repeat:repeat-x;background-position:top;}
.H5{font-family:"Trebuchet MS";font-size:16px;font-weight:700;color:#FFF;}
.tbtm{font-family:Arial, Helvetica, sans-serif;font-size:9px;font-weight:400;color:#690;padding-right:30px;}
.body{font-family:Arial, Helvetica, sans-serif;font-size:9px;font-weight:400;color:#999;}
.slidetext{font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:700;color:#FFF;}
.style1 A:link {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
.style1 A:visited {
	text-decoration: none;
	color: #FFFFFF;
}
.style1 A:active {text-decoration: none}
.style1 A:hover {text-decoration: underline; color: #FFFFCC;}
.style2 A:link {
	text-decoration: none;
	color: #FFFFFF;
	text-transform: capitalize;
	background-image: url(images/bullet-1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	padding-right: 15px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 5px;
	height: 29px;
	font-family: "Trebuchet MS";
	font-size: 10px;
}
.style2 A:visited {
	text-decoration: none;
	color: #FFFFFF;
	text-transform: capitalize;
	background-image: url(images/bullet-1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	padding-right: 15px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 5px;
	height: 29px;
	font-family: "Trebuchet MS";
	font-size: 10px;
}
.style2 A:active {
	text-decoration: none;
	color: #FFFFFF;
	text-transform: capitalize;
	background-image: url(images/bullet-1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	padding-right: 15px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 5px;
	height: 29px;
	font-family: "Trebuchet MS";
	font-size: 10px;
}
.style2 A:hover {
	text-decoration: none;
	color: #CCCCCC;
	text-transform: capitalize;
	background-image: url(images/bullet-1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	padding-right: 15px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 5px;
	height: 29px;
	font-family: "Trebuchet MS";
	font-size: 10px;
}
.style3 A:link {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: normal;

}
.style3 A:visited {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: normal;

}
.style3 A:active {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: normal;
}
.style3 A:hover {
	text-decoration: underline;
	color: #FFFFFF;
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: normal;
}
h5 {
font-family:"Trebuchet MS";font-size:24px;font-weight:normal;color:#FFFFFF;
}
